:root{
    --background-color: black;
    --text-color: #ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color); 
}

h1{
    color: var(--text-color);
}

p{
    color: var(--text-color);
}   

button{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#footer-p{
    color: var(--text-color);
    font-size: 10px;
}

.displayed{
    display: block;
}

.hidden{
    display: none;
}

.bar--female { 
    fill: url(#blue-gradient) !important;
    stroke: #0CFFF0 !important;
    stroke-width: 2px 0px 0px 2px !important;
}

.bar--male   {
    fill: url(#orange-gradient) !important;
    stroke: #FF9900 !important;
    stroke-width: 0px 2px 0px 2px !important;

}

#countryName {
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    /* center */
    text-align: center;
    color: var(--text-color);
}
#info1Div, #info2Div, #info3Div, #info4Div{
    /* put a row flex direction */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.infoText1, .infoText2, .infoText3, .infoText4{
    width: 700px;
    /* put a column flex direction */
    margin-left: 50px;
}

.bar {
    stroke: #548800;
    stroke-width: 2px;
    fill: url(#bar-gradient);
}

.tick { 
    color: white;
    fill: white;
}